@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
body
{
	box-sizing: border-box;
	margin:0;
	width:100%;
	margin-left: auto;
	background-color:white;
	background-image: linear-gradient(90deg, rgba(177,198,210,.5) 50%, transparent 50%),
	linear-gradient(rgba(177,198,210, .5) 50%, transparent 50%);
	background-size:50px 50px;

}

header{ 
    box-shadow: 2px 2px 2px #999999; 
}


.navbar {
	display:inline-block;
	background-image: url("images/wdnav.jpg");
	clear: both;
	width: 100%;
	margin: 0;
	height: 100px;
	box-shadow: 2px 2px 2px #999999; 
}



ul {
	display: block;
	height: 100px;
	margin: 0;
	font-family:'Amatic SC', cursive;
	font-weight: bolder;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 0;
}

.navlinks li {
	display: inline-block;
	width: 14%;
	color: white;
	font-size: 110%;
	padding-top: 35px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.navlinks a{
	text-decoration: none;
    font-weight: bold;
    color: white;
}

.navlinks a:hover{

}

.navlinks a:active {

}

#logofont {
	font-family:'pacifico';
	width: 14%;
	font-size: 110%;
	text-align:center;
	margin: 0;

}
.topimage img{
	display: inline-block;
	float: left;
	width: 100%;
    max-width: 100%;
    height: auto;
    z-index: -9999;
    box-shadow: 2px 2px 2px #999999; 
}

#story {
	display: inline-block;
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	height: 90%;
	background-color: black;
	clear: both;
	margin-top: 5%;
	margin-bottom: 5%;
		border: solid white 15px;
		box-shadow: 6px 6px 6px #999999; 
	color: white;
	text-align: center;
}

